/src/led_autofocus.egg-info/
/src/led_autofocus/__pycache__/
*.pyc
src/led_autofocus/__pycache__/__init__.cpython-310.pyc
src/led_autofocus/__pycache__/_fit_utilities.cpython-310.pyc
src/led_autofocus/__pycache__/_settings_widget.cpython-310.pyc
src/led_autofocus/__pycache__/_widget.cpython-310.pyc
src/led_autofocus/__pycache__/ImageHandler.cpython-310.pyc
src/led_autofocus/autofocus_config.json
/build/
